In [1]:
import sys
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
%%time
df = pd.read_csv(
    './data/train.csv', nrows=1e5,
    parse_dates=['click_time', 'attributed_time']
)

CPU times: user 165 ms, sys: 13.2 ms, total: 179 ms
Wall time: 177 ms

In [89]:
df['day'] = df['click_time'].dt.day
df['hour'] = df['click_time'].dt.hour

df_temp = df.groupby(['ip', 'hour']).count()['app'].reset_index(); df_temp

           ip  hour  app
0          31    16    6
1          36    16    3
2          60    16    1
3          81    16   12
4          92    16    5
5          95    16    3
6         122    16    1
7         126    16    1
8         151    16    1
9         169    16    1
10        176    16    3
11        195    16    6
12        196    16    6
13        198    16    9
14        209    16    2
15        222    16   11
16        231    16    9
17        235    16    1
18        246    16   11
19        247    16    1
20        268    16    4
21        279    16   15
22        288    16    2
23        302    16    1
24        315    16    1
25        340    16    2
26        353    16    3
27        365    16    1
28        368    16    1
29        381    16    1
...       ...   ...  ...
15558  212221    16   17
15559  212224    15    1
15560  212224    16    7
15561  212238    16    2
15562  212239    16    3
15563  212245    16    9
15564  212285    16    2
15565  212288    16    3
15566  212293    16    8
15567  212306    16    6
15568  212322    16    1
15569  212323    16    1
15570  212349    16   14
15571  212403    16    1
15572  212420    16    2
15573  212440    16    1
15574  212474    16    5
15575  212484    16    1
15576  212515    16    1
15577  212559    16    5
15578  212577    16    1
15579  212614    16    1
15580  212619    16    1
15581  212620    16    1
15582  212624    16    2
15583  212699    16    3
15584  212700    16    2
15585  212725    16    7
15586  212737    16    2
15587  212743    16    1

[15588 rows x 3 columns]

In [90]:
df.merge(df_temp, how='outer', on=['ip', 'hour'])

,ip,app_x,device,os,channel,click_time,attributed_time,is_attributed,time,day,hour,app_y
0,83230,3,1,13,379,2017-11-06 14:32:21,NaT,0,14:32:21,6,14,1
1,17357,3,1,19,379,2017-11-06 14:33:34,NaT,0,14:33:34,6,14,1
2,35810,3,1,13,379,2017-11-06 14:34:12,NaT,0,14:34:12,6,14,1
3,45745,14,1,13,478,2017-11-06 14:34:52,NaT,0,14:34:52,6,14,1
4,161007,3,1,13,379,2017-11-06 14:35:08,NaT,0,14:35:08,6,14,1
5,18787,3,1,16,379,2017-11-06 14:36:26,NaT,0,14:36:26,6,14,1
6,103022,3,1,23,379,2017-11-06 14:37:44,NaT,0,14:37:44,6,14,1
7,114221,3,1,19,379,2017-11-06 14:37:59,NaT,0,14:37:59,6,14,1
8,165970,3,1,13,379,2017-11-06 14:38:10,NaT,0,14:38:10,6,14,1
9,74544,64,1,22,459,2017-11-06 14:38:23,NaT,0,14:38:23,6,14,1
10,172522,3,1,25,379,2017-11-06 14:38:27,NaT,0,14:38:27,6,14,1
11,105861,3,1,13,379,2017-11-06 14:38:51,NaT,0,14:38:51,6,14,1
12,210962,3,1,19,379,2017-11-06 14:39:29,NaT,0,14:39:29,6,14,1
13,124979,3,1,18,379,2017-11-06 14:40:16,NaT,0,14:40:16,6,14,1
14,38816,3,1,18,379,2017-11-06 14:40:39,NaT,0,14:40:39,6,14,1
15,80447,3,1,19,379,2017-11-06 14:40:51,NaT,0,14:40:51,6,14,1
16,134575,3,1,13,379,2017-11-06 14:43:10,NaT,0,14:43:10,6,14,1
17,57576,3,1,19,379,2017-11-06 14:43:14,NaT,0,14:43:14,6,14,1
18,7755,3,1,13,379,2017-11-06 14:43:25,NaT,0,14:43:25,6,14,1
19,91749,3,1,19,379,2017-11-06 14:43:51,NaT,0,14:43:51,6,14,1
20,50694,3,1,18,379,2017-11-06 14:44:02,NaT,0,14:44:02,6,14,1
21,111385,3,1,18,379,2017-11-06 14:44:15,NaT,0,14:44:15,6,14,1
22,125222,14,1,3,478,2017-11-06 14:44:51,NaT,0,14:44:51,6,14,1
23,191759,3,1,13,379,2017-11-06 14:44:51,NaT,0,14:44:51,6,14,1
24,53418,3,1,17,379,2017-11-06 14:44:52,NaT,0,14:44:52,6,14,1
25,183168,3,1,19,379,2017-11-06 14:47:49,NaT,0,14:47:49,6,14,1
26,47902,3,1,17,379,2017-11-06 14:48:07,NaT,0,14:48:07,6,14,1
27,209663,3,1,13,379,2017-11-06 14:48:55,NaT,0,14:48:55,6,14,1
28,129614,3,1,20,379,2017-11-06 14:49:36,NaT,0,14:49:36,6,14,2
29,129614,3,1,19,379,2017-11-06 14:57:50,NaT,0,14:57:50,6,14,2
...,...,...,...,...,...,...,...,...,...,...,...,...
99970,9282,80,3032,607,347,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99971,71403,15,1,13,245,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99972,172163,9,1,8,134,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,2
99973,172163,12,1,8,178,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,2
99974,55763,64,1,12,459,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99975,104836,12,1,13,140,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,2
99976,104836,9,1,13,442,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,2
99977,6640,150,1,18,110,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99978,25633,8,1,13,145,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99979,26119,15,1,18,245,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99980,116339,3,1,36,211,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99981,74283,2,1,25,237,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99982,98255,15,1,77,315,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99983,70986,12,1,13,265,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99984,41576,15,1,13,245,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,2
99985,41576,3,1,13,130,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,2
99986,102962,9,1,13,215,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99987,77551,6,1,22,125,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99988,212129,13,1,19,400,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99989,199592,125,0,607,341,2017-11-06 16:01:48,2017-11-06 18:00:56,1,16:01:48,6,16,1
99990,127806,12,1,36,259,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99991,167749,36,1,16,110,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99992,159029,9,1,13,215,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99993,187238,2,1,8,236,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99994,119422,15,1,17,245,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99995,119930,21,1,19,128,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99996,192610,2,1,8,237,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99997,72867,3,1,27,137,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99998,74889,17,1,19,280,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1
99999,137399,15,1,19,140,2017-11-06 16:01:48,NaT,0,16:01:48,6,16,1

In [36]:
(df['click_time'] - df['click_time'].iloc[0]).dt.total_seconds()

0           0.0
1          73.0
2         111.0
3         151.0
4         167.0
5         245.0
6         323.0
7         338.0
8         349.0
9         362.0
10        366.0
11        390.0
12        428.0
13        475.0
14        498.0
15        510.0
16        649.0
17        653.0
18        664.0
19        690.0
20        701.0
21        714.0
22        750.0
23        750.0
24        751.0
25        928.0
26        946.0
27        994.0
28       1035.0
29       1037.0
          ...
99970    5367.0
99971    5367.0
99972    5367.0
99973    5367.0
99974    5367.0
99975    5367.0
99976    5367.0
99977    5367.0
99978    5367.0
99979    5367.0
99980    5367.0
99981    5367.0
99982    5367.0
99983    5367.0
99984    5367.0
99985    5367.0
99986    5367.0
99987    5367.0
99988    5367.0
99989    5367.0
99990    5367.0
99991    5367.0
99992    5367.0
99993    5367.0
99994    5367.0
99995    5367.0
99996    5367.0
99997    5367.0
99998    5367.0
99999    5367.0
Name: click_time, Length: 100000, dtype: float64

In [19]:
pd.DatetimeIndex(df.click_time).day

Int64Index([6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
            ...
            6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
           dtype='int64', name='click_time', length=100000)

In [5]:
df.groupby(['ip', 'app']).count()

            device  os  channel  attributed_time  is_attributed
ip     app
31     1         1   1        1                0              1
       9         2   2        2                0              2
       12        1   1        1                0              1
       13        1   1        1                0              1
       15        1   1        1                0              1
36     12        1   1        1                0              1
       15        1   1        1                0              1
       18        1   1        1                0              1
60     15        1   1        1                0              1
81     1         2   2        2                0              2
       8         6   6        6                0              6
       9         2   2        2                0              2
       15        2   2        2                0              2
92     3         2   2        2                0              2
       9         1   1        1                0              1
       21        2   2        2                0              2
95     12        1   1        1                0              1
       15        1   1        1                0              1
       18        1   1        1                0              1
122    3         1   1        1                0              1
126    35        1   1        1                0              1
151    9         1   1        1                0              1
169    9         1   1        1                0              1
176    23        1   1        1                0              1
       26        1   1        1                0              1
       27        1   1        1                0              1
195    1         1   1        1                0              1
       8         2   2        2                0              2
       9         3   3        3                0              3
196    3         1   1        1                0              1
...            ...  ..      ...              ...            ...
212474 2         1   1        1                0              1
       9         1   1        1                0              1
       12        3   3        3                0              3
212484 9         1   1        1                0              1
212515 21        1   1        1                0              1
212559 1         1   1        1                0              1
       8         2   2        2                0              2
       9         1   1        1                0              1
       15        1   1        1                0              1
212577 2         1   1        1                0              1
212614 18        1   1        1                0              1
212619 15        1   1        1                0              1
212620 18        1   1        1                0              1
212624 2         1   1        1                0              1
       12        1   1        1                0              1
212699 12        1   1        1                0              1
       15        1   1        1                0              1
       18        1   1        1                0              1
212700 12        1   1        1                0              1
       14        1   1        1                0              1
212725 2         1   1        1                0              1
       3         1   1        1                0              1
       9         1   1        1                0              1
       11        1   1        1                0              1
       14        1   1        1                0              1
       15        1   1        1                0              1
       18        1   1        1                0              1
212737 6         1   1        1                0              1
       64        1   1        1                0              1
212743 15        1   1        1                0              1

[56782 rows x 5 columns]